<section class="header">
  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <div ngbDropdown class="hidden-lg hidden-md hidden-sm " placement="down-right" style="padding-top:10px">
          <button class="btn pull-right" id="dropdownBasic1" ngbDropdownToggle>
            <i class="fa fa-bars" aria-hidden="true"></i>
          </button>
          <div ngbDropdownMenu class="col-lg-12">
            <a class="dropdown-item inPAgeScrool" href="#particles-js">Home</a>
            <a class="dropdown-item inPAgeScrool" href="#about">What is TIACOIN?</a>
            <a class="dropdown-item inPAgeScrool" href="#howitWork">How It Works?</a>
            <a class="dropdown-item inPAgeScrool" href="#ico_section">ICO</a>
            <a class="dropdown-item inPAgeScrool" href="#silverBacking">Silver Backing</a>
            <a class="dropdown-item inPAgeScrool" href="">FAQ</a>
            <a class="dropdown-item inPAgeScrool" href="#features_section">Features</a>
          </div>
        </div>
        <div class="logo hidden-xs hidden-sm  "></div>
        <nav class="topNav hidden-xs">
          <a href="#particles-js" class="inPAgeScrool">Home</a>
          <a href="#about" class="inPAgeScrool">What is TIACOIN?</a>
          <a href="#howitWork" class="inPAgeScrool">How It Works?</a>
          <a href="#ico_section" class="inPAgeScrool">ICO</a>
          <a href="#silverBacking" class="inPAgeScrool">Silver Backing</a>
          <a href="" class="inPAgeScrool">FAQ</a>
          <a href="#features_section" class="inPAgeScrool">Features</a>
        </nav>
      </div>
    </div>
  </div>
</section>

<section  id="particles-js">
  <div class="homeClockBox ">
    <div class="logoBox ">
      <img class="logoItem" src="assets/img/tiacoin.svg">
      <h1>TIACOIN</h1>
    </div>
    <div class="regBox">
      <h2>THE WORKS'S FIRST</h2>
      <h3>DUAL-BACKED</h3>
      <h4>CRYPTOCURRENCY</h4>
      <div class="link ">
        <a [routerLink]="['register']" style="color: green">Register</a>
        <a href="#" style="color: green">White Paper</a>
      </div>
    </div>
    <div class="clockSide ">
      <div class="body">
        <h3 style="color: #333333;font-size:23px">PRE_SALE IS LIVE, ends in :</h3>
        <div id="countdown"></div>

        <div class="progressBox">
          <div class="progressHolder">
            <div class="item">
              <div style="width:30%;"></div>
            </div>
          </div>
          <div class="desc">
            <span class="title" style="font-weight: bold;color: #777777">Current Price : $1.0</span>
            <span class="num">Remaining : 127,000</span>
          </div>
        </div>
        <div style="width: 100% ; text-align: center; padding-top: 20px;padding-bottom: 20px" >
          <a class="btn btn-group-lg btn-success text-center" style="border-radius:22.5px; color: white;font-weight: bold">Buy Token</a>
        </div>

        <div class="sNetHome">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-youtube"></i></a>
          <a href="#"><i class="fa fa-paper-plane"></i></a>
          <a href="#"><i class="fa fa-medium"></i></a>
          <a href="#"><i class="fa fa-btc"></i></a>
        </div>


      </div>
    </div>
    <!--<div class="home4row_ico hidden-sm hidden-xs ">-->
      <!--<div class="col_box">-->

        <!--<div class="item">-->
          <!--<a href="#">-->
            <!--<figure>-->
              <!--<img src="assets/img/ico/coin-erc20.png" class="img-responsive" alt="">-->
            <!--</figure>-->
            <!--ECR20 Token-->
          <!--</a>-->
        <!--</div>-->
        <!--<div class="item">-->
          <!--<a href="#">-->
            <!--<figure>-->
              <!--<img src="assets/img/ico/kvamyeelzfylzyvgqnrm.png" class="img-responsive" alt="">-->
            <!--</figure>-->
            <!--PoS Mining Algorithm-->
          <!--</a>-->
        <!--</div>-->
        <!--<div class="item">-->
          <!--<a href="#">-->
            <!--<figure>-->
              <!--<img src="assets/img/ico/blockExplorer.png" class="img-responsive" alt="">-->
            <!--</figure>-->
            <!--Block Explorer-->
          <!--</a>-->
        <!--</div>-->
        <!--<div class="item">-->
          <!--<a href="#">-->
            <!--<figure>-->
              <!--<img src="assets/img/ico/github.png" class="img-responsive" alt="">-->
            <!--</figure>-->
            <!--SampleCode Github-->
          <!--</a>-->
        <!--</div>-->

      <!--</div>-->
    <!--</div>-->
  </div>
  <div class="home4row_ico">
    <div class="col_box">

      <div class="item">
        <a href="#">
          <figure>
            <img src="assets/img/ico/coin-erc20.png" class="img-responsive" alt="">
          </figure>
          ECR20 Token
        </a>
      </div>
      <div class="item">
        <a href="#">
          <figure>
            <img src="assets/img/ico/kvamyeelzfylzyvgqnrm.png" class="img-responsive" alt="">
          </figure>
          PoS Mining Algorithm
        </a>
      </div>
      <div class="item">
        <a href="#">
          <figure>
            <img src="assets/img/ico/blockExplorer.png" class="img-responsive" alt="">
          </figure>
          Block Explorer
        </a>
      </div>
      <div class="item">
        <a href="#">
          <figure>
            <img src="assets/img/ico/github.png" class="img-responsive" alt="">
          </figure>
          SampleCode Github
        </a>
      </div>

    </div>
  </div>
  <div class="layer">
  </div>
</section>


<section class="aboutRow" id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="hTitle"> What Is TIACOIN? </h2>
        <div class="txt">
          TIACOIN is the future of Insured Cryptocurrency Trading. It is an ecosystem where:
          <ol class="olList">
            <li>Investors can purchase “Smart Bonds” of a Fund be Insured</li>
            <li>Fund Managers can issue “Smart Bonds” and Insure their Bonds</li>
            <li>Investors & Fund Managers decide on Trades as a Team</li>
            <li>Token Holders get a guaranteed % ROI on all interparty deals</li>
          </ol>
          In order to reach our mission we aim to provide an investment platform with all the required tools, agents and infrastructure in order to identify the very best investment opportunities in cryptocurrency markets. We then facilitate arbitrage trading in cryptocurrencies using and maximizing profit taking.
        </div>
      </div>
      <div class="col-md-6">
        <div class="video"> <img src="assets/img/about.png" class="img-responsive" alt=""> </div>
      </div>
    </div>
  </div>
</section>


<section class="howItwork" id="howitWork">
  <h2 class="hTitle">How It Work</h2>
  <div class="text-center txt">
    Below we shall explain how our system works and how it is different from the current Lending MLM platforms.
    <br />
    In order to better understand our ecosystem, lets first examine how the current Lending MLM platforms operate.
  </div>
  <div class="container">
    <div class="row">
      <div class=" col-md-12">
        <img src="assets/img/howItwork01.png" class="img-responsive" alt="">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul class="ul6col_item">
          <li> <span class="num">1</span> Users Invest into the platform by first purchasing the platform’s Tokens in exchange for one of the major cryptocurrencies. </li>
          <li> <span class="num">2</span> The users then invest by lending out their tokens in return for high %ROI.  </li>
          <li> <span class="num">3</span> The platform is supposedly able to yield high returns on investment using Trading Bots. </li>
          <li> <span class="num">4</span> The trading bots then supposedly make trades riding on market volatility and yield profits in excess of 5% daily.       </li>
          <li> <span class="num">5</span> Out of the +5% capital gained, 1% daily interest is rewarded to Token holders. </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-md-offset-2">

        <div class="txt text-justify column_2_row">
          In addition to the above mentioned scheme, the Invested Tokens are held as collateral for a period between 3 month up to 1 year.. Finally there is also a Binary MLM used in order recruit and draw in new investors and pumping in new money.
          <br />
          Let’s now demonstrate our solution. To begin with, our system would effectively tackle many of the above mentioned issues and resolve them. Our platform is designed to pay .8% fixed daily interest to its Token Holders.  All transactions are done in total transparency and recorded on the blockchain. Here is how our system works:
        </div>

      </div>
    </div>


    <div class="row">
      <div class=" col-md-12">
        <img src="assets/img/howItwork02.png" class="img-responsive" alt="">
      </div>
    </div>


    <div class="row">
      <div class="col-md-12">
        <ul class="ul6col_item">
          <li> <span class="num">1</span> Investors can choose from a variety of Investment Funds. They exchange their Bitcoin for “Smart Bonds”. “Smart Bonds” are “Smart Contracts” issued by Fund Managers. </li>
          <li> <span class="num">2</span> Managers can choose to insure their Funds by purchasing TIA Coins which will be held in escrow as collateral by the Oracle. </li>
          <li> <span class="num">3</span> The Fund managers are provided with Trading Bots running a variety of Algorithms. Different Bots can be selected, and optimized based upon the marketing strategies of the Fund Manager. </li>
          <li> <span class="num">4</span> The Bots make “Instant Investment Alerts” regarding market conditions and inform investors through our “Mobile Application”.  </li>
          <li> <span class="num">5</span> Once Crowd Consensus is reached the Trade Oracle executes the trade. All executed Trades are recorded on the blockchain. 2.4% Transaction fee deducted daily. </li>
        </ul>
      </div>
    </div>

  </div>
</section>


<section class="profitRow" id="ico_section">

  <h2 class="hTitle">TIA Platform Total Profit Distribution</h2>
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div class="txt text-center">
          The platform distributes the <strong>2.4%</strong> daily profits as follows:
        </div>
        <ul class="ul4col_item">
          <li> <span class="num"> 0.8% </span> Guaranteed daily ROI distributed to all Token Holders on daily basis including Weekends & Holidays </li>
          <li> <span class="num"> 0.8% </span> is invested on Silver Holdings to Back the Tokens By Physical Silver deliverable upon request of Token Holders  </li>
          <li> <span class="num"> 0.4% </span> Invested in Promising ICO's Picked through Crowd Consensus, Crowd Investing, and receiving Volume Discounts </li>
          <li> <span class="num"> 0.4% </span> for R D, management and operation costs. </li>
        </ul>

      </div>
    </div>
  </div>

</section>

<section class="silverRow" id="silverBacking">
  <div class="container">

    <h2 class="hTitle">Silver Backing</h2>
    <div class="txt text-center">
      TIACOIN aims to become the first Cryptocurrency backed by Physical Silver. <br /> The Physical Silver backing is earned through the Coin’s Digital Use Case Value and not pre-loaded with Silver holdings
    </div>

    <div class="row">
      <div class=" col-md-12">
        <img src="assets/img/tia_smart_silver.jpg" class="img-responsive" alt="">
      </div>
    </div>

    <div class="row">
      <div class=" col-md-12">
        <img src="assets/img/tia_smart_silver2.jpg" class="img-responsive" alt="">
      </div>
    </div>

  </div>
</section>

<section id="features_section" class="crowdSaleRow">

  <h2 class="hTitle">5 Phase ICO</h2>
  <div class="container">
    <div class="row">
      <div class=" col-md-12">

        <div class="crowdSaleBox">
          <div class="cSitem">

            <h3>First CrowdSale</h3>
            <div class="date">
              DEC 21 2017 <br /> DEC 26 2017
            </div>
            <div class="chart">
              <div id="donut_single1" style="width:100%; height:200px;"></div>
            </div>
            <p>
              Available: 1,782,000 TIA<br />
              Price: $1.0 - 1.5
            </p>
          </div>
          <div class="cSitem">
            <h3>Second CrowdSale</h3>
            <div class="date">
              DEC 27 2017 <br /> JAN 01 2018
            </div>
            <div class="chart">
              <div id="donut_single2" style="width:100%; height:200px;"></div>
            </div>
            <p>
              Available: 1,782,000 TIA<br />
              Price: $1.6 - 2.1
            </p>
          </div>
          <div class="cSitem">
            <h3>Third CrowdSale</h3>
            <div class="date">
              JAN 02 2018 <br /> JAN 07 2018
            </div>
            <div class="chart">
              <div id="donut_single3" style="width:100%; height:200px;"></div>
            </div>
            <p>
              Available: 1,782,000 TIA<br />
              Price: $2.2 - 2.7
            </p>
          </div>
          <div class="cSitem">

            <h3>Fourth CrowdSale</h3>
            <div class="date">
              JAN 13 2018 <br /> JAN 18 2018
            </div>
            <div class="chart">
              <div id="donut_single4" style="width:100%; height:200px;"></div>
            </div>
            <p>
              Available: 1,782,000 TIA<br />
              Price: $2.8 - 3.3
            </p>
          </div>
          <div class="cSitem">

            <h3>Fifth CrowdSale</h3>
            <div class="date">
              JAN 19 2018 <br /> JAN 24 2018
            </div>
            <div class="chart">
              <div id="donut_single5" style="width:100%; height:200px;"></div>
            </div>
            <p>
              Available: 1,782,000 TIA<br />
              Price: $3.4 - 3.9
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>


<section class="allocationRow">
  <h2 class="hTitle">TIA COIN Allocation</h2>
  <div class="container">
    <div class="row">
      <div class=" col-md-6">
        <div id="piechart_3d" style="width: 100%; height:400px;"></div>
      </div>
      <div class=" col-md-6">
        <div class="bodyTxt">

          <div class="item">
            <h3> Mining: </h3>
            <div> 40% or a Total of 10,800,000 TIA Coins are mineable. The block time is 120 seconds. Difficulty readjusts upon every block completion. Coinbase maturity is every 15 blocks. </div>
          </div>
          <div class="item">
            <h3> ICO: </h3>
            <div> 33% or a Total of 8,900,100 TIA Coins will be offered during our 1 month ICO. </div>
          </div>
          <div class="item">
            <h3> Reserves: </h3>
            <div> 15% or a Total of 4,050,000 TIA Coins will be used for Strategic Reserves. </div>
          </div>
          <div class="item">
            <h3> Team: </h3>
            <div> 11% or a Total of 2,970,000 TIA Coins will be rewarded to Team members. </div>
          </div>
          <div class="item">
            <h3> Bounty: </h3>
            <div> 1% or a Total of 270,000 TIA Coins will be rewarded for Bounties. </div>
          </div>



        </div>
      </div>
    </div>
  </div>
</section>

<section class="Funding_Allo_Row">
  <h2 class="hTitle"> ICO Funding Allocation </h2>

  <div class="container">
    <div class="row">
      <div class=" col-md-6">
        <div class="bodyTxt">

          <ol class="olList">
            <li> Development Costs (25%):  </li>
            <li> Operation Costs (25%): </li>
            <li> Marketing & Sales (30%):  </li>
            <li> Security Audits (10%): </li>
            <li> Legal & Regulatory Costs (10%):  </li>
          </ol>

        </div>
      </div>

      <div class=" col-md-6">
        <div id="piechart_3d_2" style="width: 100%; height:400px;"></div>
      </div>

    </div>
  </div>

</section>


<footer class="site_footer">
  <div class="sNetwork">
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-youtube"></i></a>
    <a href="#"><i class="fa fa-paper-plane"></i></a>
    <a href="#"><i class="fa fa-medium"></i></a>
    <a href="#"><i class="fa fa-btc"></i></a>
  </div>
  <div class="copy">
    Copyright 2016-2017, All rights reserved.
  </div>
</footer>
